.bp-bg-nav {
    background-color: lightgray;
}

.bp-img-logo-nav {
    width: 150px;
    height: auto;
}

.bp-card-pokemon {
    width: 12rem;
}

.bp-img-pokemon {
    width: 100%;
    height: 150px;
}

.scroll {
    overflow-y: auto;
}

.sombra-selecionado {
    box-shadow: 1px 1px 15px green;
  }